<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  
   <parameter name="BrowserName" value="chrome"></parameter>
    <classes>
     
     
      <class name="testBaseExecution.TC01"/>
<!--      <class name="testBaseExecution.TC02"/>
      <class name="testBaseExecution.TC03"/>-->
      <class name="testBaseExecution.TC04"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
